<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body style="background-image:url('https://www.shutterstock.com/shutterstock/photos/2009313029/display_1500/stock-photo-businesswoman-s-hand-filing-online-registration-form-on-laptop-2009313029.jpg');">
<h1 style="color:red;text-align:center;"> Registration Page</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username"><br>
    <input type="text" name="first_name" placeholder="Enter first_name"><br>
    <input type="text" name="last_name" placeholder="Enter last-name"><br>
    <input type="email" name="email", placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h3 style="color:DeepPink;">{{msg}}</h3>
{% endfor %}
</body>
</html>